@import "../../../styles/settings.scss";

$tablet-width: 768px;
$desktop-width: 1200px;

@mixin mobile {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}


.root {
  box-shadow: 2px 3.464px 6px rgba(1, 2, 2, 0.2);
  background-color: $body-bg;

  // :global(.container) > :global(.row) {
  //   height: 44px;

  //   @include desktop {
  //     // height: 135px;
  //     justify-content: center;
  //   }

  //   @include mobile {
  //     // height: 115px;
  //   }

  // }

  // background-color: aqua;
  // display: none;

  .searchContainer {
    @include desktop {
      padding-bottom: 10px;
    }

    @include mobile {
      padding: 0px;
    }
  }

  // .potsContainer {
  //   display: none;

    table {
      // display: table;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      // display: none;
      // align-self: center;



      @include desktop {
        // order: -1;
        // padding: 5px;
      }

      @include mobile {
        // order: 1;
        // padding: 10px;
      }

      input {
        text-align: center;
        margin-left: 10px;
      }

      thead {
        .header {
          font-weight: bold;
          text-transform: uppercase;

        }
      }

      // tbody {
      //   tr {
      //     height: 5px;
      //     th {
      //       height: 5px;

      //     }
      //   }
      // }
      .header {
        color: $text-color;
        font-size: 12px;
        min-width: 100px;
        margin: 7px;
        // margin-top: 2px;
        // margin-bottom: 2px;
        // padding: 1rem;
        text-decoration: none;
        // display: flex;
        // align-items: center;
        font-weight: 500;
        letter-spacing: 1px;
        @extend %hover-params;

        &:hover,
        &.active {
          background-color: $primary;
          color: $menubar-bg;
          border-color: $primary;
        }

        &.active {
          border-color: $text-color;
        }
      }

      .data {
        color: $text-color;
        // text-transform: uppercase;
        font-size: 12px;
        // margin-top: 2px;
        // margin-bottom: 2px;
        // padding: 1rem;
        text-decoration: none;
        // display: flex;
        align-items: center;
        font-weight: 500;
        letter-spacing: 1px;
        margin: 7px;

        // @extend %hover-params;

        // &:hover,
        // &.active {
        //   background-color: $primary;
        //   color: $menubar-bg;
        //   border-color: $primary;
        // }

        // &.active {
        //   border-color: $text-color;
        // }
      }
      &.hidden {
        display: none;
      }

      &.active {
        display: table;
      }
      // p {
      //   padding: 2px;
      // }
    // }


  }


}

