@import "../../../styles/settings.scss";

// $tablet-width: 768px;
// $desktop-width: 1200px;

// @mixin mobile {
//   @media (max-width: #{$tablet-width - 1px}) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }


.root {

  .portionsBorder {
    display: flex;
    flex-direction: column;
    // align-items: center;
    justify-content: space-between;
    padding: 10px;

    .portionsCell {
      min-width: 70px;
      text-align: center;
    }

    .portionsHead {
      display: flex;
      // flex-direction: row;
      justify-content: space-between;
      text-transform: none;

      border-bottom: 10px;
      border-color: $text-color;

      p {
        margin: 5px;

        span {
          font-weight: bold;
        }
      }

      .portionsBaza {
        font-style: italic;
      }
    }
    .portionsData {
      .portionsRow {
        display: flex;
        // flex-direction: row;
        justify-content: space-between;

        border-bottom: 10px;
        border-color: $text-color;
        p {
          margin: 5px;
          span {
            font-weight: bold;
          }
        }
      }
    }
  }
}
