@import "../../../styles/settings.scss";

// $tablet-width: 768px;
// $desktop-width: 1200px;

// @mixin mobile {
//   @media (max-width: #{$tablet-width - 1px}) {
//     @content;
//   }
// }

// @mixin desktop {
//   @media (max-width: #{$desktop-width - 1px}) {
//     @content;
//   }
// }


.root {

  .portionsBorder {

    .portionsHead {
      text-transform: none;

      .portionsRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        border-bottom: 1px solid black;
        // border-style: ;
        // border-width: ;
        // justify-items: center;



        .portionsCell {
          // min-width: 80px;
          align-items: center;
          min-width: 80px;

          // .portionsBaza {
          //   font-style: italic;
          //   text-transform: none;
          // }

          p {
            margin: 5px;
            text-align: center;
            span {
              font-weight: bold;
            }
          }
        }

        th:nth-of-type(2) {
          font-size: 10px;
          font-style: italic;
          // margin: auto;
        }





        // p {
        //   margin: 5px;
        //   text-align: center;

        //   span {
        //     font-weight: bold;
        //   }
        // }
      }
    }

    .portionsData {
      display: flex;
      flex-direction: column;
      // justify-content: space-between;
      // // text-transform: none;

      // border-bottom: 10px;
      // border-color: $text-color;
      .portionsRow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // justify-items: center;
        // align-items: center;

        // border-bottom: 10px;
        // border-color: $text-color;
        // td {
          // min-width: 80px;
          // width: auto;
          // margin: auto;
        .portionsCell {
          align-items: center;
          min-width: 80px;

          p {
            margin: 5px;
            text-align: center;
            span {
              font-weight: bold;
            }
          }
        }
        // }
        // p {
        //   margin: 5px;
        //   text-align: center;
        //   span {
        //     font-weight: bold;
        //   }
        // }

        td:nth-of-type(2) {
          font-size: 10px;
          font-style: italic;
          // margin: auto;
        }
        // td:nth-of-type(3) {
        //   background-color: rgb(219, 245, 223);
        // }
        // td:nth-of-type(4) {
        //   font-weight: bolder;
        //   background-color: $caramel;

        // }
      }

    }
  }
}
